<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src=""></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

  <title>Express Avanzado Clase 7</title>
</head>

<body>
  <nav class="navbar navbar-success bg-success mb-4">
    <a href="/" class="navbar-brand text-light">Coder-House</a>
  </nav>
  <div class="container">
    <form class="form" action="/print" method="POST">
        <div class="form-group">
            <label>Numero 1</label>
            <input type="text" class="form-control" id="numberOne" name="numberOne" placeholder="{{numberOne}}">
        </div>
        <div class="form-group">
            <label>Numero 2</label>
            <input type="text" class="form-control" name="numberTwo" id="numberTwo" placeholder="{{numberTwo}}">
        </div>
        <div class="form-group">
            <label>Operación</label>
            <input type="text" class="form-control" name="operation" id="operation" placeholder="{{operation}}">
        </div>
        <button class="btn btn-success my-2 my-sm-0" type="submit">Enviar</button>
    </form>

    {{#if print}}
    <hr>
    <hr>
    <div class="card" style="width: 18rem;">
        
        <div class="card-body">
            <h5 class="card-title">{{result}}</h5>
        </div>
    </div>
    {{/if}}
  </div>
</body>
</html>